*{
    margin: 0;
    box-sizing: border-box;
}


.container {
   margin: auto;
   width: 1000px;
   height: 600px;
   position: relative;
}

.foto {
   background-image: url(compagnia.jpeg);
   background-size: cover;
   margin-top: 100px;
   width: 100%;
   height: 100%;
}

.testo {
   position: absolute;
   top: 10px;
   left: 20px;
   text-align: center;
}

#comment {
   background-color: white;
   position: absolute;
   top: 350px;
   right: 300px;
}