*{
    margin: 0;
    box-sizing: border-box;
}


.container {
   margin: auto;
   width: 900px;
}

.foto {
   margin-top: 100px;
   float: left;
   width: 30%;
   height: 200px;
   background-color: blue;
}

.testo {
   float: left;
   margin-top: 100px;
   width: 70%;
   height: 200px;
   background-color: blueviolet;

}