*{
    margin: 0;
    box-sizing: border-box;
}


.container {
   margin: auto;
   width: 900px;
}

.foto {
   background-image: url(viaggio.jpeg);
   background-size: cover;
   margin-top: 100px;
   float: left;
   width: 40%;
   height: 200px;
}

.testo {
   float: left;
   margin-top: 100px;
   width: 60%;
   height: 200px;
   background-color: blueviolet;

}